
<div class="form-group">
    <label for="nome" translate>GROUP.SELECT_MEDIA</label>
    <input type="text" name="media" 
           ng-change="change()" ng-blur="change()"
           ng-model="attribute.name"
           typeahead="attribute as attribute.name for attribute in getAttributes($viewValue)"
           typeahead-loading="loadingAttributes"
           typeahead-min-length="3"
           typeahead-wait-ms="600"/>
</div>

<ul class="draggable-objects">
    <li  ng-repeat="obj in paths" >
        <div 
            ng-if="obj.fileType === 'IMAGE'" > 
            <img width="70" height="70" alt="" src="{{obj.path}}"/>
        </div>
        <div ng-if="obj.fileType === 'VIDEO'"> 
            <video width="70" height="70" controls>
                <source src="{{obj.path}}" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </li>
</ul>


<div class="gallery row">
    <div >
        <label>GROUP.GET_MEDIA</label>
    </div>
    <div class="container-gallery">
        <div class="row">
            <div  class="col-md-12">

                <div>
                    <ul dnd-list="group.singleSource.lists.singleSourceGet" >
                        <li ng-repeat="item in group.singleSource.lists.singleSourceGet"
                            dnd-draggable="item"
                            dnd-moved="group.singleSource.lists.singleSourceGet.splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="group.singleSource.selected = item"
                            ng-class="{'selected': group.singleSource.selected === item}"
                            >
                            {{item.name}}
                            <div 
                                ng-if="item.fileType === 'IMAGE'" > 
                                <img width="70" height="70" alt="" src="{{item.path}}"/>
                            </div>
                            <div ng-if="item.fileType === 'VIDEO'"> 
                                <video width="70" height="70" controls>
                                    <source src="{{item.path}}" type="video/mp4">
                                    Your browser does not support HTML5 video.
                                </video>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="gallery row">
    <div >
        <label>GROUP.SET_MEDIA</label>
    </div>
    <div class="container-gallery">
        <div class="row">
            <div  class="col-md-12">

                <div>
                    <ul dnd-list="group.singleSource.lists.singleSourceSet" >
                        <li ng-repeat="item in group.singleSource.lists.singleSourceSet"
                            dnd-draggable="item"
                            dnd-moved="group.singleSource.lists.singleSourceSet.splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="group.singleSource.selected = item"
                            ng-class="{'selected': group.singleSource.selected === item}"
                            >
                            {{item.name}}
                            <div 
                                ng-if="item.fileType === 'IMAGE'" > 
                                <img width="50" height="50" alt="" src="{{item.path}}"/>
                            </div>
                            <div ng-if="item.fileType === 'VIDEO'"> 
                                <video width="50" height="50" controls>
                                    <source src="{{item.path}}" type="video/mp4">
                                    Your browser does not support HTML5 video.
                                </video>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>




