<div class="row">
    <div class="col-md-12">
        <h3 translate>GROUP.REGISTER_GROUP</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form novalidate name="formulario" ng-submit="submit()">
            <div class="form-group">
                <label for="model-nome" translate>GROUP.NAME</label>
                <input type="text" name="nome" ng-model="group.name"
                       id="model-nome" required class="form-control" />
                <div ng-if="formulario.nome.$dirty" ng-messages="formulario.nome.$error"
                     ng-messages-include="portal-validation-messages"></div>
            </div>


            <div class="portal-type-switcher ">
                <p class="bold" translate>GROUP.TYPE</p>
                <label ng-repeat="tp in types"  class="radio-inline portal-type-switcher-item">
                    <input type="radio" ng-model="group.type" name="type" 
                           class="portal-type-switcher-input" id="single-source-type-{{tp.id}}" ng-value="tp" /> 
                    <span ng-if="tp.id === 'GALLERY'" class="icon-photo-library"></span>
                    <span ng-if="tp.id === 'FOLDER'" class="icon-folder-open"></span>
                </label>
            </div>
            <div class="form-group">
                <label for="description" translate>GROUP.DESCRIPTION</label>
                <textarea id="description" rows="5" cols="60" ng-model="group.description" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label ng-repeat="tp in typeFilter"  class="radio-inline portal-type-switcher-item">
                    <input type="radio"  name="typeFilter" ng-model="group.typeFilter" class="portal-type-switcher-input" 
                           id="single-source-type-{{tp.id}}" ng-value="tp" />
                    <span translate="">{{tp.name}}</span>

                </label>
            </div>
           
            <div width="100%" class="am-collapse form-group" ng-include="'app/presenter/group/template/' + group.typeFilter.template">
            </div>

            <div class="form-group" style="float: left;">
                <a href="#/presenter/group"
                   class="btn btn-default" translate>
                    LAYOUT.CANCEL
                </a>
                <button class="btn btn-primary" translate>
                    LAYOUT.SAVE
                </button>
            </div>
        </form>
    </div>
</div>
