<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://jax-ws.dev.java.net/spring/core http://jax-ws.dev.java.net/spring/core.xsd
	        http://jax-ws.dev.java.net/spring/servlet http://jax-ws.dev.java.net/spring/servlet.xsd
	        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	
	
    <!-- 	TODO How to create WS -->
    <!-- 	<wss:binding url="/services/ws/PessoaService"> ===> endpoint -->
    <!--         <wss:service> -->
    <!--             <ws:service bean="#PessoaWS" /> ===> Name @Component (Spring) -->
    <!--         </wss:service> -->
    <!--     </wss:binding> -->
    
    <!-- Desabilitando retorno de stacktrace no fault dos webservices -->
    <!--<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject">
            <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                <property name="targetClass" value="java.lang.System" />
                <property name="targetMethod" value="getProperties" />
            </bean>
        </property>
        <property name="targetMethod" value="putAll" />
        <property name="arguments">
            <util:properties>
                <prop key="com.sun.xml.ws.fault.SOAPFaultBuilder.disableCaptureStackTrace">false</prop>
            </util:properties>
        </property>
    </bean>-->
    
</beans>