<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

	<global-method-security secured-annotations="enabled" jsr250-annotations="enabled" />

	<!-- O weblogic precisa de uma configuracao especial que é realizado no arquivo conf.xml localizado
	no caminho <DOMAIN_HOME>/config/config.xml. A chave <enforce-valid-basic-auth-credentials>false</enforce-valid-basic-auth-credentials>
	deve ser adicionada conforme descrito na documentação http://docs.oracle.com/cd/E11035_01/wls100/security/thin_client.html#wp1057361 -->

<!-- 	<http pattern="/services/**" use-expressions="true" auto-config="true" create-session="never">
		<intercept-url pattern="/**" access="isAuthenticated()" />
		<http-basic/>
	</http>

	<http use-expressions="true" auto-config="true">

		<intercept-url pattern="/**/restrito/**" access="isAuthenticated()" />

		<form-login login-page="/pages/publico/seguranca/login.jsp" default-target-url="/app/restrito/test/index" authentication-failure-url="/pages/publico/seguranca/login.jsp?error=true"
			always-use-default-target="false" />

		<logout invalidate-session="true" logout-success-url="/pages/publico/seguranca/logout.jsp"/>


	</http>

    <authentication-manager>
            <authentication-provider ref="M4CustomProvider" />
    </authentication-manager> -->

</beans:beans>