<section>
    <header>
        <span>Escolha um Ícone</span>
        <a href="" class="close" ng-click="cancel()">x</a>
    </header>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" ng-model="filter.properties.name" />
            </div>
        </div>
        <label class="box-icon" ng-repeat="item in items| filter:filter" title="{{item.properties.name}}">
            <input type="radio" ng-model="modal.selected" name="selected"
                   value="{{item.properties.name}}" class="sr-only"/>

            <svg height="60" width="60" xmlns="http://www.w3.org/2000/svg">
                <path ng-repeat="(i, path) in item.icon.paths" ng-attr-d="{{path}}" 
                      ng-style="item.icon.attrs[i]"></path>
            </svg>
        </label>
    </div>
    <footer>
        <div class="box-btn">
            <button type="button" class="btn btn-default"ng-click="ok()">OK</button>
        </div>
    </footer>
</section>