<!-- HDFS -->
<div class="form-group">
    <label for="server" translate>DATASOURCE.SERVER</label>
    <input type="text" name="server" id="server" class="form-control" 
           ng-model="typedDatasource.server"/>
    <div ng-if="formulario.$dirty" ng-messages="formulario.server.$error"
         ng-messages-include="portal-validation-messages"></div>
</div>
<div class="form-group">
    <label for="port" translate>DATASOURCE.PORT</label>
    <input type="text" name="port" id="port" class="form-control"
           ng-model="typedDatasource.port"/>
    <div ng-if="formulario.$dirty" ng-messages="formulario.port.$error"
         ng-messages-include="portal-validation-messages"></div>
</div>
<div class="form-group">
    <label for="path" translate>DATASOURCE.PATH</label>
    <input type="text" name="path" id="path" class="form-control"
           ng-model="typedDatasource.path"/>
    <div ng-if="formulario.$dirty" ng-messages="formulario.path.$error"
         ng-messages-include="portal-validation-messages"></div>
</div>