<!-- solr -->

<div class="form-group">
    <label for="address" translate>DATASOURCE.ADDRESS</label>
    <input type="text" name="address" id="address" class="form-control"
           ng-model="datasource.address"/>
    <div ng-if="formulario.$dirty" ng-messages="formulario.address.$error"
             ng-messages-include="portal-validation-messages"></div>
</div>
<div class="form-group">
    <label for="path" translate>DATASOURCE.PATH</label>
    <input type="text" name="path" id="path" class="form-control"
           ng-model="datasource.path"/>
    <div ng-if="formulario.$dirty" ng-messages="formulario.path.$error"
             ng-messages-include="portal-validation-messages"></div>
</div>
<div class="row" >
    <div class="col-xs-6 form-group">
        <label for="user" translate>DATASOURCE.USERNAME</label>
        <input type="text" name="user" id="user" class="form-control" 
               ng-model="datasource.user" />
        <div ng-if="formulario.$dirty" ng-messages="formulario.user.$error"
             ng-messages-include="portal-validation-messages"></div>
    </div>
    <div class="col-xs-6 form-group">
        <label for="password" translate>DATASOURCE.PASSWORD</label>
        <input type="text" name="password" id="password" class="form-control"
               ng-model="datasource.password" />
        <div ng-if="formulario.$dirty" ng-messages="formulario.password.$error"
             ng-messages-include="portal-validation-messages"></div>
    </div>
</div>
