<!-- HDFS -->
<div>
<div class="form-group">
    <label for="model-driver-name" translate>datasource.driverName</label>
    <select class="form-control" name="name" >
        <option selected>Selecione</option>
    </select>
    <div ng-if="formulario.$dirty" ng-messages="formulario.nome.$error"
         ng-messages-include="portal-validation-messages"></div>
</div>



<div class="form-group">
    <label for="txtAddress" translate>datasource.address</label>
    <input type="text" name="txtAddress" id="txtAddress" class="form-control"  >
    <div ng-if="formulario.$dirty" ng-messages="formulario.txtAddress.$error"
         ng-messages-include="portal-validation-messages"></div>
</div>

<div class="row" >
    <div class="col-xs-6 form-group">
        <label for="user" translate>datasource.userName</label>
        <input type="text" name="user" id="user" class="form-control"  >
        <div ng-if="formulario.$dirty" ng-messages="formulario.user.$error"
             ng-messages-include="portal-validation-messages"></div>
    </div>
    <div class="col-xs-6 form-group">
        <label for="password" translate>datasource.password</label>
        <input type="text" name="password" id="password" class="form-control">
        <div ng-if="formulario.$dirty" ng-messages="formulario.passwort.$error"
             ng-messages-include="portal-validation-messages"></div>
    </div>
</div>

</div>