<!-- solr -->

<div class="form-group">
    <label for="txtAddress" translate>datasource.address</label>
    <input type="text" name="txtAddress" id="txtAddress" class="form-control"  >
</div>
<div class="form-group">
    <label for="txtPath" translate>datasource.path</label>
    <input type="text" name="txtPath" id="txtPath" class="form-control"  >
</div>
<div class="row">
    <div class="col-xs-6 form-group">
        <label for="nome" translate>datasource.userName</label>
        <input type="text" class="form-control" id="name" >
    </div>
    <div class="col-xs-6 form-group">
        <label for="password" translate>datasource.password</label>
        <input type="text" name="password" class="form-control" id="password" >
    </div>
</div>
