<div class="col-md-offset-3 col-md-9">
    <h3 translate>datasource.datasources</h3>
    
    <a class="btn btn-default" href="#/presenter/datasource/new"
       translate>
        datasource.new
    </a>

    <table ng-table class="table">
        <thead>
            <tr>
                <th></th>
                <th translate>datasource.name</th>
                <th translate>datasource.type</th>
                <th translate>.</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ds in datasource">
                <td>{{ds.id}}<input type="checkbox" name=""/></td>
                <td>{{ds.name}}</td>
                <td>{{ds.type}}</td>
                <td><button type="button" class="btn btn-danger" ng-click="excluir(ds.id)">X</button></td>
                
            </tr>
        </tbody>
    </table>
</div>
{{datasource|json}}
