
<div class="row">
    <div class="col-md-8">
        <h3 translate>datasource.registerSourceAnalysis</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form novalidate name="formulario" ng-submit="submit()">
            <div class="form-group">
                <label for="nome" translate>datasource.name</label>
                <input type="text" class="form-control" id="name" name="name"
                       ng-model="typedDatasource.name" />
            </div>

            <div class="form-group">
                <label for="description" translate>datasource.description</label>
                <textarea class="form-control" id="description" name="description"
                          ng-model="typedDatasource.description"></textarea>

            </div>

            <label ng-repeat="tp in types"  class="radio-inline form-group">
                <input type="radio" ng-model="typedDatasource.type" name="type" 
                       id="datasource-type-{{tp.id}}" ng-value="tp" /> 
                {{tp.name}}
            </label>
            <div ng-if="typedDatasource.type.template" ng-include="'app/presenter/datasource/template/' + typedDatasource.type.template"></div>

            <button type="button" class="btn btn-default">Cancelar</button>
            <button class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>
