<div class="row">
    <div class="col-md-12">
        <h3 translate>DATASOURCE.REGISTER_ANALYSIS_SOURCE</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form novalidate name="formulario" ng-submit="submit()">
            <div class="form-group">
                <label for="name" translate class="required">DATASOURCE.NAME</label>
                <input type="text" class="form-control" id="name" name="name"
                       ng-model="datasource.name" />
            </div>

            <div class="form-group">
                <label for="description" translate>DATASOURCE.DESCRIPTION</label>
                <textarea class="form-control" id="description" name="description"
                          ng-model="datasource.description"></textarea>
            </div>

            <div class="portal-type-switcher">
                <label ng-repeat="(key, tp) in types" class="radio-inline portal-type-switcher-item"
                       title="{{tp.name}}">
                    <input type="radio" class="portal-type-switcher-input" name="type" 
                           ng-model="datasource.type" id="datasource-type-{{key}}"
                           ng-value="key" />
                    <span class="{{tp.icon}}"></span>
                </label>
            </div>

            <div ng-if="types[datasource.type].template"
                 ng-include="types[datasource.type].template"
                 class="am-fade-and-slide-bottom">
            </div>

            <a href="#/presenter/datasource"
               class="btn btn-default" translate>
                LAYOUT.CANCEL
            </a>
            <button class="btn btn-primary" translate>
                LAYOUT.SAVE
            </button>
        </form>
    </div>
</div>