<div class="row">
    <div class="col-md-12">
        <h3 translate>INTERACTION.REGISTER_INTERACTION</h3>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <form novalidate name="formulario" ng-submit="submit()">
            
            <div class="form-group">
                <label for="nome" translate>COMPANY.NAME</label>
                <input type="text" class="form-control" id="name" name="name" ng-model="company.name" />
            </div>
            
            <div class="form-group">
                <label for="address" translate=>COMPANY.ADDRESS</label>
                <input type="text" class="form-control" id="address" name="address" ng-model="company.address" />
            </div>

            <div class="form-group">
                <label for="mail" translate>COMPANY.EMAIL</label>
                <input type="text" class="form-control" id="mail" name="mail" ng-model="company.mail" />
            </div>

            <div class="form-group">
                <label for="phone" translate>COMPANY.PHONE</label>
                <input type="text" class="form-control" id="phone" name="phone" ng-model="company.phone"/>
            </div>
            
            <div class="form-group">
                <label for="type" translate>COMPANY.TYPE</label>
                <input type="text" class="form-control" id="type" name="type" ng-model="company.type" />
            </div>
            
            <label translate>COMPANY.IMAGE_QUAD</label>
            <label id="file-quad"
                   class="well drop-box set-file"ng-file-drop 
                   ng-file-select
                   ng-multiple="false"
                   ng-file-change="fileQuadDropped($files, $event, $rejectedFiles)" 
                   ng-accept="'.doc,.docx,.xls,.ppt,.pptx,.jpeg,.jpg,.png,.mp4'" 
                   ng-model-rejected="rejFiles" 
                   allow-dir="false" 
                   drag-over-class="{accept:'acceptClass', reject:'rejectClass'}"
                   translate>
                COMPANY.DROP_FILE_HERE
            </label>

            <label translate>COMPANY.IMAGE_RECT</label>
            <label id="file-rect"
                   class="well drop-box set-file"
                   ng-file-drop 
                   ng-file-select
                   ng-multiple="false"
                   ng-file-change="fileRectDropped($files, $event, $rejectedFiles)" 
                   ng-accept="'.doc,.docx,.xls,.ppt,.pptx,.jpeg,.jpg,.png,.mp4'" 
                   ng-model-rejected="rejFiles" 
                   allow-dir="false" 
                   drag-over-class="{accept:'acceptClass', reject:'rejectClass'}"
                   translate>
                COMPANY.DROP_FILE_HERE
            </label>
            

            <button class="btn btn-primary" translate>
                LAYOUT.SAVE
            </button>
        </form>
    </div>
</div>