<div>
    <ul>
        <li
            ng-repeat="applicationPages in pageHistory"
            class="{{applicationPages[0].application.name}}"
            >
            <h4 class="base-color">
                {{applicationPages[0].application.title}}
            </h4>
            <ul>
                <li ng-repeat="page in applicationPages" class="item">
                    <div class="page-shot">
                        <a class="btn-close" title="Fechar" ng-click="page.destroy()">
                            <i class="glyphicon glyphicon-remove-circle "></i>
                        </a>

                        <button class="app-icon active" ng-click="page.restore()">
                            restore
                        </button>

                        <div class="footer base-color-bg">
                            {{page.title}}
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>