<div ng-controller="AppSearchController">

    <div class="header">
        <a class="btn btn-close" title="Fechar" ng-click="closeSearch()">
            <i class="glyphicon glyphicon-remove-circle "></i>
        </a>
        <a class="btn btn-close" title="Fechar" ng-click="fixSearch(instance.routePage)">
            <i class="glyphicon glyphicon-pushpin "></i>
        </a>
        <h2>{{title}} <small>Search results</small></h2>
    </div>

    <div class="body">
        <div app-search-result-body results="results" isTable="isTable" config="config"></div>
    </div>

    <div class="footer">
        <div class="pull-left count">
            <pagination
                boundary-links="true"
                total-items="totalItems"
                page="currentPage"
                class="pagination-sm"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"></pagination>
        </div>
        <div class="pull-right actions">
            <div class="btn-group">

                <div class="btn btn-primary btn-search">
                    <i class="fa fa-search"></i>
                    <input
                        type="text"
                        id="input-search-text"
                        ng-model="searchTxt"
                        ng-change="doSearch()"
                        >
                </div>

                <button class="btn btn-primary btn-show-advanced"  >
                    <i class="fa fa-search-plus"></i>
                    <span>Busca Avançada</span>
                </button>

                <a class="btn btn-primary btn-create-element"
                   href="#{{config.controllers.create}}"
                   ng-if="(config && config.controllers && config.controllers.create)"
                   >
                    <i class="fa fa-plus-circle"></i>
                    <span>Adicionar</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>