<div id="sidebar">
    <ul class="nav">
        <li ng-repeat="item in menu">
            <a href="#{{item.href}}"
               ng-class="{'has-child': (item.children && item.children.length > 0)}"
               class="menu-item"
               >
                <i class="icon-custom-ui"></i>
                <span class="title">{{item.title}}</span>
                <span class="arrow"></span>
            </a>

            <!--submenu-->
            <ul class="nav active" ng-if="(item.children && item.children.length > 0)">
                <li ng-repeat="child in item.children">
                    <a href="#{{child.href}}"
                       ng-class="{'has-child': (child.children && child.children.length > 0)}"
                       class="menu-item"
                       >
                        <i class="icon-custom-ui"></i>
                        <span class="title">{{child.title}}</span>
                        <span class="arrow"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>