/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/02/2015, 17:16:07
    Author     : vinicius.pires
*/

@import '../fonts/open-sans/style.css';
@import '../fonts/connecta/style.css';

$defaultLight:  8%;

$black:         #0A0A0A;
$lightBlack:    #111111;
$darkerGray:    #222222;
$darkGray:      #252525;
$gray:          #333333;
$lightGray:     #CCCCCC; //204,204,204
$lighterGray:   #E1E1E1; //225,225,225
$white:         #FFFFFF;

$presenterBlue: #297EB8;

$red:           #5F0202;

$defaultAnimationDuration:250ms;