/* 
    Created on : 04/02/2015, 17:16:07
    Author     : vinicius.pires
*/

@import '../fonts/open-sans/style.css';
@import '../fonts/connecta/style.css';

$defaultLight:  8%;

$black:         #0A0A0A;
$lightBlack:    #111111;
$darkerGray:    #222222;
$darkGray:      #252525;
$gray:          #333333;
$lightGray:     #CCCCCC; //204,204,204
$lighterGray:   #E1E1E1; //225,225,225
$white:         #FFFFFF;

$backgroundGray:$lighterGray;

$presenterBlue: #297EB8;

$red:           #5F0202;

$defaultAnimationDuration:250ms;

$fontSizeBig:5em;

// Bootstrap Colors
$bs-gray-base:             #000;
$bs-gray-darker:           lighten($bs-gray-base, 13.5%); // #222
$bs-gray-dark:             lighten($bs-gray-base, 20%);   // #333
$bs-gray:                  lighten($bs-gray-base, 33.5%); // #555
$bs-gray-light:            lighten($bs-gray-base, 46.7%); // #777
$bs-gray-lighter:          lighten($bs-gray-base, 93.5%); // #eee

$bs-brand-primary:         darken(#428bca, 6.5%); // #337ab7
$bs-brand-success:         #5cb85c;
$bs-brand-info:            #5bc0de;
$bs-brand-warning:         #f0ad4e;
$bs-brand-danger:          #d9534f;

$bs-text-color:            $bs-gray-dark;
$bs-link-color:            $bs-brand-primary;
$bs-link-hover-color:      darken($bs-link-color, 15%);

    // Estilos das tabelas do Bootstrap
$table-bg-accent:          lighten($lighterGray, 5%);
$table-bg-hover:           $lighterGray;

$imagePath:'../img/';

