/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/02/2015, 18:24:02
    Author     : pires
*/

// Mixin para limpar containers de floats
@mixin clearfix() {
    &:after {
        content:' ';
        display:block;
        clear:both;
    }
}

// Margem top padronizada
@mixin margin-top($em) {
    margin-top: $em*1em;
}
// Expõe classes utilitárias para uso rápido no HTML
.margin-top-single {
    @include margin-top(1);
}
.margin-top-double {
    @include margin-top(2);
}
.margin-top-triple {
    @include margin-top(3);
}

// Margem bottom padronizada
@mixin margin-bottom($em) {
    margin-bottom: $em*1em;
}
// Expõe uma classe para uso rápido no HTML
.margin-bottom-single {
    @include margin-bottom(1);
}
.margin-bottom-double {
    @include margin-bottom(2);
}
.margin-bottom-triple {
    @include margin-bottom(3);
}