<html>
    <head>
        <style>
            .table{
                border: none; 
                padding: 0 18px; 
                margin: 50px auto; 
                width: 500px;

            }
            .mail-body{
                text-align:center;
            }
            .domain-name{
                font-size: 2em;
                font-weight: bold;
            }
            .button{
                display:block;
                border-radius: 0.25em;
                background-color: rgb(54,129,193);
                cursor:pointer;
                width: 200px;
                padding: 0 18px; 
                margin: 50px auto; 
                
            }
            .font-button{
                font-weight: bold;
                font-size: 2em; 
                color: white; 
                line-height:1.75;
                width: 20px; 
                margin-left: auto; 
                margin-right: auto;
                text-decoration: none;

            }
        </style>
    </head>
    <body>
        <div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="mail-body">
                                <p>${user.name}, você solicitou uma alteração de senha.</p>
                                <p>
                                    Clique no link abaixo para definir uma nova senha.
                                </p>
                                <div class="button">
                                    <a  class = "font-button" href="${url}">Redefinir</a>
                                </div>
                                <p>
                                    Se você mudou de ideia, apenas ignore este email. 
                                </p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>