// Menu do Connecta

$sidebarSize: 20em;
$miniSidebarSize: 4em;

.connecta-menu {
    font-family: 'Open Sans';

    width: $sidebarSize;
    background-color: $black;
    margin-top:4.6em;

    position:fixed;
    left:0;
    top:0;
    bottom:0;

    transition: width $defaultAnimationDuration;

    & > ul {
        margin-top:1em;

        & > li {
            padding: 0;
            margin: 0;
            ul {
                background-color: $darkerGray;

                li .menu-item {
                    display:block;
                    padding-left:4em;
                }
            }
        }
    }

    ul {
        li {
            display: block;
            padding: 0;
            margin: 0;
            border: none;
            .menu-item {
                display: block;
                margin: 0;
                padding: 0;
                border: none;
                color: $white;
                line-height:2em;

                @include clearfix;

                &:hover, &:active, &:focus, &:visited {
                    background-color: $red;
                }

                &.has-child {
                    &:hover {
                        background-color: $red;
                    }

                    .menu-item-arrow {
                        display: block;
                    }
                }

                .menu-item-icon {
                    float:left;
                    padding: 0;
                    margin:0;
                    line-height:2em;
                    text-align: center;
                    width: 2.22em;
                    color: white;
                    font-size: 1.8em;
                }

                .menu-item-title {
                    float:left;
                    padding: 0;
                    margin:0;
                    font-size:1.2em;
                    line-height:3em;
                    transition:opacity linear $defaultAnimationDuration,
                        font-size ease-in 0,
                        line-height ease-in 0;
                    transition-delay: $defaultAnimationDuration;
                }

                .menu-item-arrow {
                    text-align: center;
                    font-size:1.8em;
                    line-height:2em;
                    width:1.5em;
                    float:right;
                    padding: 0;
                    margin:0;
                    transition:opacity linear $defaultAnimationDuration,
                        font-size ease-in 0,
                        line-height ease-in 0;
                    transition-delay: $defaultAnimationDuration;
                }
            }
        }
    }
}

// Minimiza a barra lateral para mostrar apenas os ícones
.hide-sidebar {
    .connecta-menu {
        width: $miniSidebarSize;

        .menu-item {
            .menu-item-title {
                opacity:0;
                font-size:0;
                line-height:0;
                transition:opacity linear 0s,
                    font-size linear $defaultAnimationDuration,
                    line-height linear $defaultAnimationDuration;
                transition-delay: 0;

            }
            .menu-item-arrow {
                opacity:0;
                font-size:0;
                line-height:0;
                transition:opacity linear 0s,
                    font-size linear $defaultAnimationDuration,
                    line-height linear $defaultAnimationDuration;
                transition-delay: 0;
            }
        }
    }
}