<!--<input type="file" id="file" style="width: 0; height: 0; opacity: 0;" />-->
<label for="file"
    class="well"
    ng-file-drop ng-model="myFiles" 
    ng-file-change="fileDropped($files, $event, $rejectedFiles)" 
    ng-multiple="false"
    ng-accept="'.pdf,.jpg, .png'" 
    ng-model-rejected="rejFiles" 
    allow-dir="false" 
    drag-over-class="{accept:'acceptClass', reject:'rejectClass'}" 
    drop-available="dropSupported" 
>
Drop files here
</label>
<div  ng-no-file-drop>File Drag/drop is not supported</div>


<ul>
    <li ng-repeat="file in myFiles">
        {{file|json}}
    </li>
</ul>