/**
arquivo base de estilo da aplicação, define aqui as cores e outros elementos
*/

.collector .logo {
    background-image: url(./../img/logo-collector.png);
    background-color: #67EA9E;
}

.collector .base-color{
    color: #67EA9E;
}

.collector .base-color-bg {
    background-color: #67EA9E;
    color: #000;
}

.collector .app-icon .arrow{
    border-top-color: #67EA9E!important;
}