<div class="form-group">
    <label for="nome" translate>SINGLESOURCE.FILE</label>
    <label for="file"
           class="well drop-box set-file"
           
           ng-file-drop 
           ng-file-select
           ng-model="myFiles" 
           
           ng-file-change="fileDropped($files, $event, $rejectedFiles)" 
           ng-multiple="false"
           ng-accept="'.doc,.docx,.xls,.ppt,.pptx,.jpeg,.jpg,.png,.mp4'" 
           ng-model-rejected="rejFiles" 
           allow-dir="false" 
           drag-over-class="{accept:'acceptClass', reject:'rejectClass'}" 
           drop-available="dropSupported" 
           translate
           >
        SINGLESOURCE.DROP_FILE_HERE
    </label>
    
    <div  ng-no-file-drop>File Drag/drop is not supported</div>
</div>
