<div class="form-group">
    <label for="nome" translate>singlesource.file</label>
    <label for="file"
           class="well drop-box set-file"
           
           ng-file-drop 
           ng-file-select
           ng-model="myFiles" 
           
           ng-file-change="fileDropped($files, $event, $rejectedFiles)" 
           ng-multiple="false"
           ng-accept="'.pdf,.jpg,.png'" 
           ng-model-rejected="rejFiles" 
           allow-dir="false" 
           drag-over-class="{accept:'acceptClass', reject:'rejectClass'}" 
           drop-available="dropSupported" 
           translate
           >
        singlesource.dropFileHere
    </label>
    
    <div  ng-no-file-drop>File Drag/drop is not supported</div>
</div>
