<div ng-if="fileExtensions.fileType !== '' && typeSingleSource.path === ''" class="form-group">
    <label for="nome" translate>SINGLESOURCE.FILE</label>
    <label for="file"
           class="well drop-box set-file"

           ng-file-drop 
           ng-file-select
           ng-model="myFiles" 

           ng-file-change="fileDropped($files, $event, $rejectedFiles)" 
           ng-multiple="false"
           ng-accept="'.doc,.docx,.xls,.ppt,.pptx,.jpeg,.jpg,.png,.mp4'" 
           ng-model-rejected="rejFiles" 
           allow-dir="false" 
           drag-over-class="{accept:'acceptClass', reject:'rejectClass'}" 
           drop-available="dropSupported" 
           translate
           >
        SINGLESOURCE.DROP_FILE_HERE

    </label>

    <div  ng-no-file-drop>File Drag/drop is not supported</div>
</div>
<div  ng-if="typeSingleSource.path !== ''" class="form-group am-flip-x">
    <div ng-if="typeSingleSource.type.name === 'FILE'" >
        <div ng-if="fileExtensions.fileType !== 'IMAGE'" >
            <label for="nome" translate>SINGLESOURCE.FILE</label>
            <label for="file"
                   class="well drop-box set-file"

                   ng-file-drop 
                   ng-file-select
                   ng-model="myFiles" 

                   ng-file-change="fileDropped($files, $event, $rejectedFiles)" 
                   ng-multiple="false"
                   ng-accept="'.doc,.docx,.xls,.ppt,.pptx,.jpeg,.jpg,.png,.mp4'" 
                   ng-model-rejected="rejFiles" 
                   allow-dir="false" 
                   drag-over-class="{accept:'acceptClass', reject:'rejectClass'}" 
                   drop-available="dropSupported" 
                   translate
                   >
                SINGLESOURCE.DROP_FILE_HERE

            </label>

            <div  ng-no-file-drop>File Drag/drop is not supported</div>
        </div>
        <div ng-if="fileExtensions.fileType === 'IMAGE'">
            <label>SINGLESOURCE.IMAGE</label>
            <div  class="portal-hover-container image-on-background"
                  ng-attr-style="background-image:url({{typeSingleSource.path}});width:20em;height:10em;line-height:10em;"
                  ng-click="closeFile()"
                  width="200">
                <span class="icon-trash portal-hover-item font-size-big text-danger font-white cursor-pointer"></span>
            </div>
        </div>
    </div>
</div>
