<div class="row">
    <div class="col-md-12">
        <h3 translate>SINGLESOURCE.REGISTER_MEDIA</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10">
                
            </div>
            <div class="col-md-2">
                <div class="pull-right btn-group">
                    <a href="#/presenter/singlesource/{{singlesource.id}}/edit"
                       class="btn btn-default" title="{{ 'LAYOUT.EDIT' | translate }}">
                        <span class="icon-pencil"></span>
                    </a>
                    <button class="btn btn-default" ng-click="excluir(singlesource.id)"
                        title="{{ 'LAYOUT.DELETE' | translate }}">
                        <span class="icon-trash"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well margin-top-single">
            <p ng-if="singlesource.name">
                <strong translate>SINGLESOURCE.NAME</strong>: 
                {{singlesource.name}}
            </p>

            <p ng-if="singlesource.type" >
                <strong translate>SINGLESOURCE.TYPE</strong>:
                {{singlesource.type}}
            </p>
            <div ng-if="singlesource.type === 'FILE'" >
                <div ng-switch="fileExtensions.fileType">
                    <div  class="col-md-10 font-size-big" ng-switch-when="BINARY" >
                        <a href="{{singlesource.binaryFile}}">
                            <span  class="icon-file3"></span>
                        </a>
                    </div>
                    <div ng-switch-when="IMAGE" >
                        <img style="width: 340px;" alt="" src="{{singlesource.binaryFile}}" />
                    </div>
                    <div ng-switch-when="VIDEO" >
                        <video controls>
                            <source src="{{singlesource.binaryFile}}" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video>
                    </div>
                </div>
            </div>

            <table class="table margin-top-single">
                <thead>
                    <tr>
                        <th translate>
                            SINGLESOURCE.ATTRIBUTE_NAME
                        </th>
                        <th translate>
                            SINGLESOURCE.ATTRIBUTE_VALUE
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ssattr in singlesource.singleSourceAttributes">
                        <td>
                            {{ssattr.attribute.name}}
                        </td>
                        <td>
                            {{ssattr.value}}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="#/presenter/singlesource" class="btn btn-default" translate>LAYOUT.BACK</a>
    </div>
</div>